@using LibrarySystem.Web.Models.Departments
@model CreateOrEditDepartmentViewModel
@section scripts{
    <environment names="Development">
        <script src="~/view-resources/Views/Departments/CreateOrEditDepartment.js"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("CreateDepartment")</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
        <form name="departmentCreateForm" role="form" class="form-horizontal">
            <div class="modal-body">
                <div class="tab-content mt-4">
                    <div role="tabpanel" class="tab-pane container active">
                    <input type="hidden" name="Id" value="@Model?.Id" data-dept-id />
                        <div class="form-group row required">
                            <label class="col-md-3 col-form-label">@L("Name")</label>
                            <div class="col-md-9">
                            <input type="text" class="form-control" name="Name" value="@Model?.Name" data-dept-name />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="CreateUserIsActive">@L("IsActive")</label>
                            <div class="col-md-9">
                                <input type="checkbox" name="IsActive" value="true" id="CreateDepartmentIsActive" checked />
                            </div>
                        </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-default close-button" name="submit" id="submit"/>
                        <button type="button" class="btn btn-primary save-button" name="cancel" id="cancel"/>
                    </div>
                    </div>
                </div>
            </div>
        </form>
</section>
